extends layout

  

block content
  mixin stats(stats)
    if stats.percentage >= 90
      classname = 'badge-success'
    else if stats.percentage > 60
      classname = 'badge-warning'
    else
      classname = 'badge-error'
    span.badge(class=classname) #{stats.percentage}

  div#results
    form.re-run(method="POST", action="/run")
      input(type="hidden", name="runId", value=id)
      input.btn(type="submit", value="Rerun this test")

    div.header
      h1 Results
      span #{results.domain}
    div.toc
    div.results
      p CSSCoverage found #{results.stylesheetCount} stylesheet(s) across #{results.paths.length} page(s). 
      ul.stylesheets
        each stylesheet, path in results.stylesheets
          li.stylesheet
            div.header
              h2(data-title="#{stylesheet.url}", class=getScoreClass(stylesheet.allStats)) #{stylesheet.filename}
              p #{stylesheet.filename} is being used on #{stylesheet.pageCount} pages.  Here's what we found:
              dl
                dt Selectors Found
                dd= stylesheet.allStats.total
                dt Selectors Matched
                dd= stylesheet.allStats.hitCount
                dt Selectors Not Found
                dd= stylesheet.allStats.missCount
                dt Score
                dd= stylesheet.allStats.percentage
                dt View Stylesheet
                dd: a(href=stylesheet.url, target="_blank") #{stylesheet.url}

            div.pages
              h3 Pages that use #{stylesheet.filename}:
              ul.specific-pages
                each page, url in stylesheet.stats
                  fullUrl = results.pages[url].url
                  li.page(class=getScoreClass(page))
                    div.title
                      h3(data-title="#{fullUrl}") #{url} 
                    dl
                      dt Selectors Matched
                      dd= page.hitCount
                      dt Selectors Not Found
                      dd= page.missCount
                      dt Score
                      dd= page.percentage
                      dt View Url 
                      dd: a(href=fullUrl, target="_blank") #{fullUrl}
                    div.page-results
                      div.hits
                        h4.title Used:
                        ul.selectors
                          each count, selector in page.hits 
                            li.selector= selector
                      div.misses
                        h4.title Not used:
                        ul.selectors
                          each count, selector in page.misses 
                            li.selector= selector
              if stylesheet.pageCount > 1
                ul.all-pages
                  li.page
                    div.title 
                      h3 #{stylesheet.filename} across all pages 
                    div.page-results
                        div.hits
                          h4.title Used on all pages:
                          ul.selectors
                            each count, selector in stylesheet.allStats.hits
                              if (count == stylesheet.pageCount)
                                li.selector= selector
                        div.misses
                          h4.title Not used on any pages:
                          ul.selectors
                            each count, selector in stylesheet.allStats.misses
                              if (count == stylesheet.pageCount)
                                li.selector= selector



block scripts
  script
    $('div.toc').toc({
      container: 'ul.stylesheets',
      selectors: 'h2'
    }).on('selected', function(e, id) {
      //$(id).parent().parent().addClass('highlight');
    });
    $('h2').each(function(i) {
      var el = $(this);
      var classname = 'toc-success';
      if (el.hasClass('warning')) {
        classname = 'toc-warning'
      } else if (el.hasClass('error')) {
        classname = 'toc-error'
      }
      $('.toc li:eq('+i+')').addClass(classname);
        

    });
    $('.dropdown-toggle').on('click', function() {
      $(this).parent().next().slideToggle();
    });

    $('[data-title]').tooltip();

