extends layout

block title
  title CSSCoverage Results for #{results.domain}

block content
  div#results
    form.re-run(method="POST", action="/run")
      input(type="hidden", name="runId", value=id)
      input.btn(type="submit", value="Rerun this test")

    div.header
      h1 Results for #{results.domain}
    div.toc
    div.results
      div.overview
        h2(class=getScoreClass(results.stats)) Overview
        span Pages Tested:
        ul.pages
          each path in results.paths
            li #{results.domain}#{path}
        p CSSCoverage found #{results.stylesheetCount} stylesheet(s) across #{results.paths.length} page(s). 
        table
          tbody
            tr
              td Selectors Found
              td= results.stats.selectors
            tr
              td Selectors Matched
              td= results.stats.hits 
            tr
              td Selectors Not Found
              td= results.stats.misses 
            tr.score
              td Score
              td= results.stats.percentage 

      p Below is a listing of all the stylesheets found, along with what pages they were found on.  Each page is shows what selectors were used and what wasn't used.
      ul.stylesheets
        each stylesheet, path in results.stylesheets
          li.stylesheet
            div.header
              h2(data-title="#{stylesheet.url}", class=getScoreClass(stylesheet.allStats)) 
                a(href=stylesheet.url, target="_blank")
                  #{stylesheet.filename}
              p #{stylesheet.filename} is being used on #{stylesheet.pageCount} pages.  Here's what we found:

              table
                tbody
                  tr
                    td Selectors Found
                    td= stylesheet.allStats.total 
                  tr
                    td Selectors Matched
                    td= stylesheet.allStats.hitCount 
                  tr
                    td Selectors Not Found
                    td= stylesheet.allStats.missCount 
                  tr.score
                    td Score
                    td= stylesheet.allStats.percentage 

            div.pages
              h3 Pages that use #{stylesheet.filename}:
              ul.specific-pages
                each page, url in stylesheet.stats
                  fullUrl = results.pages[url].url
                  li.page(class=getScoreClass(page))
                    div.title
                      h3.url(data-title="#{fullUrl}", class=getScoreClass(page))
                        a(href=fullUrl, target="_blank") 
                          if url == '/'
                            | Homepage
                          else
                            | #{url}
                    table
                      tbody
                        tr
                          td Selectors Found
                          td= page.total 
                        tr
                          td Selectors Matched
                          td= page.hitCount 
                        tr
                          td Selectors Not Found
                          td= page.missCount 
                        tr.score
                          td Score
                          td= page.percentage 
                    div.page-results
                      div.hits
                        h4.title Used:
                        ul.selectors
                          each count, selector in page.hits 
                            li.selector= selector
                      div.misses
                        h4.title Not used:
                        ul.selectors
                          each count, selector in page.misses 
                            li.selector= selector
              if stylesheet.pageCount > 1
                ul.all-pages
                  li.page
                    div.title 
                      h3 #{stylesheet.filename} across all pages 
                    div.page-results
                        div.hits
                          h4.title Used on all pages:
                          ul.selectors
                            each count, selector in stylesheet.allStats.hits
                              if (count == stylesheet.pageCount)
                                li.selector= selector
                        div.misses
                          h4.title Not used on any pages:
                          ul.selectors
                            each count, selector in stylesheet.allStats.misses
                              if (count == stylesheet.pageCount)
                                li.selector= selector



block scripts
  script
    $('div.toc').toc({
      container: 'div.results',
      selectors: 'h2,h3.url'
    }).on('selected', function(e, id) {
      //$(id).parent().parent().addClass('highlight');
    });
    $('h2,h3.url').each(function(i) {
      var el = $(this);
      var classname = 'toc-success';
      if (el.hasClass('warning')) {
        classname = 'toc-warning'
      } else if (el.hasClass('error')) {
        classname = 'toc-error'
      }
      $('.toc li:eq('+i+')').addClass(classname);
        

    });
    $('.dropdown-toggle').on('click', function() {
      $(this).parent().next().slideToggle();
    });

    $('[data-title]').tooltip();

