extends layout

block head
  style
    .sheet .selectors { display: none; }
block content
  form(method="GET",action="/")
    textarea(name="urls")= urlQuery
    input(type="submit")
  if coverage
    each sheet, file in coverage.stylesheets
      div.sheet
        p #{file} #{sheet.getPercentage()}%
        ul.selectors
          each selector in sheet.selectors
            li.selector
              p= selector.text
              ul
                li Hits: #{selector.hits.join(', ')}
                li Misses: #{selector.misses.join(', ')}
  script
    //click title to show selectors
